* {
  font-size: 16px;
}

.nevi a {
  color: #000000;
  font-size: 16px;
  text-align: center;
  padding: 70px 70px;
}

.nevi {
  line-height: 100px;
  background-color: #E1E1E1;
}

.input {
  width: 300px;
  margin-top: 20px;
  background-color: #E1E1E1;
  border: 1px #ccc;
  padding: 10px 10px;
  display: inline-block;
}

.img {
  max-width: 50%;
  max-height: 50%;
}

.button {
  width: 150px;
  height: 30px;
  margin-top: 20px;
  text-align: center;
  border: 1px #000000;
  color: #666666;
}

.button:hover {
  background-color: #E1E1E1;
}

table {
  width: 300px;
  text-align: center
  border-collapse: collapse;
}

tr {
  background-color: #E1E1E1;
}

td {
  text-align: center;
  padding: 3px;

}





