<!doctype html>
<html>
    <head>
        <title>A2</title>
	    <link rel="stylesheet" href='/static/css.css' />
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    </head>
    <body>
	    {% include "navigation.html" %}

        {% if db_keys is defined %}
            <h2>Keys in the database, total no. {{db_key_no}}</h2>
            <table>
	        {% for k1 in db_keys %}
                <tr><td>{{ k1 }}</td></tr>
            {% endfor %}
            </table>

        {% else %}
            <h3>DB Empty or Error</h3>
        {% endif %}

        <br>

        {% if c_keys is defined %}
            <h2>Keys in the Cache, total no. {{c_key_no}}</h2>
            <table>
	        {% for k2 in c_keys %}
                <tr><td>{{ k2 }}</td></tr>
            {% endfor %}
            </table>

        {% else %}
            <h3>Cache Empty or Error</h3>
        {% endif %}


            <form method="post" style="margin-top:10px;">
                <input name="clear_cache" style="visibility: collapse; height: 0px; width: 1px">
                <input id="clear_cache" type="submit" class="button" value="Clear Cache">
            </form>



            <form method="post" style="margin-top:5px;">
                <input name="clear_all" style="visibility: collapse; height: 0px; width: 1px">
                <input id="clear_all" type="submit" class="button" value="Clear ALL">
            </form>


    </body>
</html>
